.main {
    width: 333px;
    height: 600px;
    background-color: none;
    font-family: helvetica;
}



.shapes {
    background-image: url(./images/purple.png);
    background-size: cover;
}

.navbar {
    background-color: rgb(118, 29, 226);
    width: auto;
    height: 45px;
    color: white;
}


#menu {
    position: relative;
    right: 296px;
    top: -9px;
}

#double {
    position: relative;
    left: 23px;
}

form {
    color: grey;
}


span {
    float: right;
}

.contacts {
    position: relative;
    top: 12px;
    right: -67px;
}

.material-symbols-outlined, #search #more-vert {
    position: relative;
    top: -7px;
    right: 8px;
}

.person {
    float: left;
    position: relative;
    top: 31px;
    right: -22px;
}

input {
    margin-left: 53px;
}

#fname {
    position: relative;
    left: -15px;
    margin-top: 22px;
    width: 233px;
    padding: 12px;
}

#phone {
    position: relative;
    left: -15px;
    margin-top: 22px;
    width: 121px;
    padding: 12px;
}

#label {
    position: relative;
    left: -15px;
    margin-top: 22px;
    width: 87px;
    padding: 12px;
}

#city {
    position: relative;
    left: 0px;
    margin-top: 22px;
    width: 233px;
    padding: 12px;
    top: -5px;
}

#state {
    position: relative;
    left: 53px;
    margin-top: 22px;
    padding: 12px;
    width: 116px;
}

#zip {
    position: relative;
    left: 133px;
    margin-top: 22px;
    width: 99px;
    padding: 12px;
    top: -65px;
}

#email {
    position: relative;
    left: -15px;
    margin-top: 22px;
    width: 233px;
    padding: 12px;
}

.email {
    position: relative;
    top: -60px;
    right: 10px;
}

#date {
    position: relative;
    left: -15px;
    margin-top: 22px;
    width: 233px;
    padding: 12px;
}